
@font-face {
    font-family: 'Press Start 2P';
    src: url('PressStart2P-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Variable.woff2') format('woff2'),
       url('Inter-Variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
