.sparks {
    opacity: 0;
}

.like-icon .contour {
    fill: var(--contour-color);
    transition: fill 0.1s linear;
}

.like-icon .core {
    fill: transparent;
    transition: fill 0.3s linear;
    transition-delay: 0.03s;
}

.like-icon .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
}

.like-icon:hover .core {
    fill: var(--contour-color);
    transition-delay: 0s;
}

.like-icon:hover .main-body {
    fill: var(--contour-color);
    transition-delay: 0.05s;
}

.like-icon:hover .contour {
    fill: var(--contour-color);
    transition-delay: 0s;
}

.like-icon:active .core {
    fill: var(--animation-fill-color);
    transition-delay: 0s;
}

.like-icon:active .main-body {
    fill: var(--animation-fill-color);
    transition-delay: 0.05s;
}

.like-icon.is-liked .core {
    fill: var(--animation-fill-color);
    transition-delay: 0s;
}

.like-icon.is-liked .main-body {
    fill: var(--animation-fill-color);
    transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
    fill: var(--animation-fill-color);
    transition: fill 0.3s linear;
    transition-delay: 0.06s;
}

.is-liked .heart {
    animation: heart-scale 0.3s ease-in 0.1s forwards;
}

.is-liked .sparks {
    animation: sparks-fade 0.3s ease-in 0.3s forwards;
}

@keyframes heart-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes sparks-fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}